In [1]:
#Ex:1
import pandas as pd
import numpy as np
df=pd.DataFrame([1,3,5,12,6,8],[10,11,12,20,50,8])
print(df)

     0
10   1
11   3
12   5
20  12
50   6
8    8

In [5]:
#Ex:2
df=pd.DataFrame({'A':[1,3,5,12,6,8],'B':[10,11,12,20,50,8]},index=[0,1,2,3,4,5])
print(df)

       A   B
0  hello  10
1      3  11
2      5  12
3     12  20
4      6  50
5      8   8

In [3]:
df

    A   B
0   1  10
1   3  11
2   5  12
3  12  20
4   6  50
5   8   8

In [3]:
#1.b. Create a dataframe which looks like the output shown below.
df=pd.DataFrame({'a':[1,2,8,4],'b':[5,6,9,8],'c':[11,12,30,14]},index=[0,1,2,3])
print(df)

   a  b   c
0  1  5  11
1  2  6  12
2  8  9  30
3  4  8  14

In [4]:
#1.b. Create a dataframe which looks like the output shown below.
df=pd.DataFrame({'X':[78,85,96,80,86],'Y':[84,94,89,83,86],'Z':[86,97,96,72,83]},index=[0,1,2,3,4])
print(df)

    X   Y   Z
0  78  84  86
1  85  94  97
2  96  89  96
3  80  83  72
4  86  86  83

In [5]:
#2. Create and display a DataFrame from a specified dictionary data which has the index labels.:
exam_data = {'name': ['Anastasia', 'Dima', 'Katherine', 'James', 'Emily', 'Michael', 'Matthew', 'Laura', 'Kevin', 'Jonas'],
             'score': [12.5, 9, 16.5, np.nan, 9, 20, 14.5, np.nan, 8, 19], 
             'attempts': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1], 
             'qualify': ['yes', 'no', 'yes', 'no', 'no', 'yes', 'yes', 'no', 'no', 'yes']}
labels = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']
df=pd.DataFrame(exam_data,labels)
print(df)

        name  score  attempts qualify
a  Anastasia   12.5         1     yes
b       Dima    9.0         3      no
c  Katherine   16.5         2     yes
d      James    NaN         3      no
e      Emily    9.0         2      no
f    Michael   20.0         3     yes
g    Matthew   14.5         1     yes
h      Laura    NaN         1      no
i      Kevin    8.0         2      no
j      Jonas   19.0         1     yes

In [6]:
#3. Write a python script to display a summary of the basic information about a specified DataFrame and its data. Sample Python dictionary data and list labels:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 10 entries, a to j
Data columns (total 4 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   name      10 non-null     object
 1   score     8 non-null      float64
 2   attempts  10 non-null     int64
 3   qualify   10 non-null     object
dtypes: float64(1), int64(1), object(2)
memory usage: 400.0+ bytes

In [7]:
#4. Write a python script to get the first 3 rows of a given DataFrame.
print(df.head(3))

        name  score  attempts qualify
a  Anastasia   12.5         1     yes
b       Dima    9.0         3      no
c  Katherine   16.5         2     yes

In [8]:
#5. Write a python script to select the 'name' and 'score' columns from the following DataFrame. Sample Python dictionary data and list labels:
print(df.iloc[:,[1,3]])

   score qualify
a   12.5     yes
b    9.0      no
c   16.5     yes
d    NaN      no
e    9.0      no
f   20.0     yes
g   14.5     yes
h    NaN      no
i    8.0      no
j   19.0     yes

In [9]:
#8. Write a python script to count the number of rows and columns of a DataFrame. Sample Python dictionary data and list labels:
print(len(df))
print(len(df.columns))

10
4

In [10]:
#9. Write a python script to select the rows where the score is missing, i.e. is NaN. Sample Python dictionary data and list labels:
print(df[df['score'].isna()])

    name  score  attempts qualify
d  James    NaN         3      no
h  Laura    NaN         1      no

In [11]:
#10. Write a python script to select the rows the score is between 15 and 20 (inclusive).
print(df[df['score'].between(15,20)])

        name  score  attempts qualify
c  Katherine   16.5         2     yes
f    Michael   20.0         3     yes
j      Jonas   19.0         1     yes

In [12]:
#11. Write a python script to select the rows where number of attempts in the examination is less than 2 and score greater than 15.
print(df[(df['score']>15) * (df['attempts']<2)])

    name  score  attempts qualify
j  Jonas   19.0         1     yes

In [13]:
#12. Write a python script to change the score in row 'd' to 11.5.
df.loc[['d'],['score']]=11.5

In [14]:
#13. Write a python script to calculate the sum of the examination attempts by the students.
df['attempts'].sum()

19

In [15]:
#14. Write a python script to calculate the mean score for each different student in DataFrame.
df['score'].mean()

13.333333333333334

In [16]:
#15. Write a python script to append a new row 'k' to data frame with given values for each column. Now delete the new row and return the original DataFrame.
df.loc['k'] = [1, 'Suresh', 'yes', 15.5]
df = df.drop('k')
print(df)

        name score attempts qualify
a  Anastasia  12.5        1     yes
b       Dima   9.0        3      no
c  Katherine  16.5        2     yes
d      James  11.5        3      no
e      Emily   9.0        2      no
f    Michael  20.0        3     yes
g    Matthew  14.5        1     yes
h      Laura   NaN        1      no
i      Kevin   8.0        2      no
j      Jonas  19.0        1     yes

In [21]:
#16.a. Write a python script to sort the DataFrame first by 'name' in descending order.
print(df.sort_values(by='name', ascending=False))

        name score attempts qualify
f    Michael  20.0        3     yes
g    Matthew  14.5        1     yes
h      Laura   NaN        1      no
i      Kevin   8.0        2      no
c  Katherine  16.5        2     yes
j      Jonas  19.0        1     yes
d      James  11.5        3      no
e      Emily   9.0        2      no
b       Dima   9.0        3      no
a  Anastasia  12.5        1     yes

In [20]:
#16.b. Write a python script to sort the DataFrame first by 'qualify' in descending order
print(df.sort_values(by= 'qualify', ascending=False))

        name score attempts qualify
a  Anastasia  12.5        1     yes
c  Katherine  16.5        2     yes
f    Michael  20.0        3     yes
g    Matthew  14.5        1     yes
j      Jonas  19.0        1     yes
b       Dima   9.0        3      no
d      James  11.5        3      no
e      Emily   9.0        2      no
h      Laura   NaN        1      no
i      Kevin   8.0        2      no

In [24]:
#17. Write a python script to replace the 'qualify' column contains the values 'yes' and 'no' with True and False.
for i in df.index:
    if(df[i][]'yes'):
        df[i]=True

KeyError: 'a'