In [3]:
#Ex:1
import pandas as pd
df=pd.DataFrame([1,3,5,12,6,8],[10,11,12,20,50,8])
df

     0
10   1
11   3
12   5
20  12
50   6
8    8

In [4]:
#Ex:2
df=pd.DataFrame({'A':[1,3,5,12,6,8],'B':[10,11,12,20,50,8]},index=[0,1,2,3,4,5])
df

    A   B
0   1  10
1   3  11
2   5  12
3  12  20
4   6  50
5   8   8