In [2]:
import pandas as pd

In [3]:
df=pd.DataFrame([1,2,3,4,5])

In [4]:
df

   0
0  1
1  2
2  3
3  4
4  5

In [5]:
type(df)

pandas.core.frame.DataFrame

In [6]:
df=pd.DataFrame({"er":[1,2,3,4,5,6,7,8,9,10],})

In [8]:
df=pd.DataFrame({"er":[1,2,3,4,5,6,7,8,9,10],"phy":[88,45,67,90,77,63,65,78,67]})

ValueError: All arrays must be of the same length

In [13]:
df=pd.DataFrame({"er":[1,2,3,4,5,6,7,8,9,10],"phy":[88,45,67,90,77,63,65,78,67,95],"chem":[67,87,47,76,45,56,64,67,77,80],"math":[55,78,45,78,34,77,88,65,78,93]})

In [14]:
d1={'a':[1,2,3,4,5],'b':[5,4,3,2,1]}
df_dict=pd.DataFrame(d1)
df_dict

   a  b
0  1  5
1  2  4
2  3  3
3  4  2
4  5  1

In [15]:
s1=df_dict['a']
s1

0    1
1    2
2    3
3    4
4    5
Name: a, dtype: int64

In [16]:
s1=df_dict['a']

In [17]:
type(df_dict)

pandas.core.frame.DataFrame

In [18]:
df_dict.shape

df.shape
(10, 4)
s1.shape
(5,)
df_dict.column

AttributeError: 'DataFrame' object has no attribute 'column'

In [19]:
df1[(df1['phy']>70) * (df1['math']>70)]

NameError: name 'df1' is not defined