In [1]:
import pandas as pd
import numpy as np

#1. Create a simple Pandas Series from a list.
lis=[10,20,30,40,50]
sr=pd.Series(lis)
print(sr)

0    10
1    20
2    30
3    40
4    50
dtype: int64

In [2]:
#2. Return the first and last values of the Series created above
sr[0]
sr[4]

50

In [3]:
#3. Create a simple Pandas Series with your own labels i.e. index
label=['a','b','c','d']
df=pd.DataFrame([1,2,3,4],label)
print(df)

   0
a  1
b  2
c  3
d  4

In [4]:
#4. Access the values using your own index and print the value, also try –ve index.
print(df[0][1])
print(df[0][-1])

2
4

In [29]:
#5. Create a simple Pandas Series from a dictionary
dic1={'a':23,'b':12,'c':18,'d':25,'e':18,'f':20,'g':12}
sr=pd.Series(dic1)
print(sr)

a    23
b    12
c    18
d    25
e    18
f    20
g    12
dtype: int64

In [31]:
#6. Create a Series using only calories intake data from user defined indexes "day1","day2", and "day3".
a,b,c=input().split()
dic2={'day1':int(a),'day2':int(b),'day3':int(c)}
sr1=pd.Series(dic2)
print(sr1)

455 656 459
day1    455
day2    656
day3    459
dtype: int64

In [35]:
#7. Create a Series of heterogeneous data types and check the data type of the Series as well as individual items.
dic2={'d':456,2:'hello',6.9:34}
sr2=pd.Series(dic2)
print(sr)
print(type(sr2[2]))
print(type(sr2['d']))
print(type(sr2))

a    23
b    12
c    18
d    25
e    18
f    20
g    12
dtype: int64
<class 'str'>
<class 'int'>
<class 'pandas.core.series.Series'>

In [36]:
#8. Compute min, max, mean values of a Series
print(sr.min())
print(sr.max())
print(sr.mean())

12
25
18.285714285714285

In [37]:
#14.Sort the values of a Series in ascending and descending order and print
print(sr.sort_values(),'\n')
print(sr.sort_values(ascending=False))

b    12
g    12
c    18
e    18
f    20
a    23
d    25
dtype: int64

d    25
a    23
f    20
c    18
e    18
b    12
g    12
dtype: int64

In [38]:
#15.Print the number of occurrences of unique values in a series. (use value_counts)
sr.value_counts()

12    2
18    2
23    1
25    1
20    1
dtype: int64

In [53]:
#16.Create a Series of 10 integers, and later change its dtype to be float (use astype).
sr3=pd.Series(range(10))
sr3=sr3.astype(float)
print(sr3)

0    0.0
1    1.0
2    2.0
3    3.0
4    4.0
5    5.0
6    6.0
7    7.0
8    8.0
9    9.0
dtype: float64

In [56]:
#17.Convert the Series you created above to numpy array (use to_numpy(), or array )
nparr=np.array(sr3)
print(nparr)
print(type(nparr))

[0. 1. 2. 3. 4. 5. 6. 7. 8. 9.]
<class 'numpy.ndarray'>

In [59]:
#18.Delete an item from Series using single index.
sr3.drop(9)

0    0.0
1    1.0
2    2.0
3    3.0
4    4.0
5    5.0
6    6.0
7    7.0
8    8.0
dtype: float64

In [66]:
#19.Find the number of items in a series. (use len or count)
print(len(sr3))
print(sr3.count())

10
10

In [68]:
#20. Append Series by assigning a value to a new index. (S[n]=v)
sr3[9]=33
sr3

0     0.0
1     1.0
2     2.0
3     3.0
4     4.0
5     5.0
6     6.0
7     7.0
8     8.0
9    33.0
dtype: float64

In [88]:
#21.Check if a value is present in a Series. (use type cast to a set or check in values)
print(3 in sr3)
print(53 in sr3)

True
False

In [104]:
#22. Print the index of a Series and also if all indexes appear only once. (use is_unique)
pd.Index(sr2).is_unique

True

In [125]:
#23. Create two Series one with default index, other with index like ‘a’,’b’,’c’,’d’, etc. then access both the Series based on label and position
s1=pd.Series([0,1,2,3,4])
s2=pd.Series(range(0,5), index=['a','b','c','d','e'])

In [126]:
print(s1)
print(s2)

0    0
1    1
2    2
3    3
4    4
dtype: int64
a    0
b    1
c    2
d    3
e    4
dtype: int64

In [140]:
#24. Try function at and iat on above problem and observe the difference in output with respect to loc and iloc.
print(sr2.iat[2])
print(sr2.at[2])

34
hello